@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


:root {
   --title-highlighted-text-color: #2196F3;
   --main-footer-bg: #2F303A;
   --team-bg: #F5F4FA;
   --text-main-color: #212121;
   --text-secondary-color: #757575;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    border: 1px solid #EEEEEE;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    color: var(--text-main-color);
    
}

.webstudio-container {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;    
}

.webstudio-text {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--title-highlighted-text-color);


}

.menunav {
    position: absolute;
    width: 281px;
    height: 16px;
    left: 453px;
    top: 32px;   
    word-spacing: 45px;
    
}

.menunav-text {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-main-color);
}

.menunav-text:hover{
    color: var(--title-highlighted-text-color);
    cursor: pointer;
}

.contact {
    position: absolute;
    width: 350px;
    height: 16px;
    left: 1078px;
    top: 32px;   
        
}

.mail-text {   
    
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-secondary-color);
    
}

.phone-text {   
    
    margin-left: 50px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-secondary-color);
        
}

.mail-text:hover,
.phone-text.phone-text:hover{   
    
    color: var(--title-highlighted-text-color);

}

.bg-section {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: -4px;
    top: 80px;
    background: var(--main-footer-bg);
}



h1 {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 448px;
    top: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.big-button {
    position: absolute;
    width: 261px;
    height: 50px;
    left: 666px;
    top: 390px;
    background: var(--title-highlighted-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    
}

.table-cont1 {
    position: absolute;
    top: 680px; 
    width: 1600px;
    left: -4px;
    
    
    
}

.table1 {
    margin-top: 95px;
    margin-left: 215px;
    margin-bottom: 95px;
    margin-right: 215px;
}

.table1 th {
    
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-main-color);
    
}

.table1 td {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-secondary-color);
    
    
}

.wedo {
position: absolute;    
width: 1180px;
height: 425px;
left: 215px;
top: 991px;
text-align: center;


}

.wedo h2 {
margin-top: -5px;
margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-main-color);

}

.image {
    
    float: left;
    width: 373px;
    margin: 10px 20px 30px 0;
    padding-left: 10px;
}

.team{

    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1510px;
    background: var(--team-bg);
}

.team h2 {
    margin-top: 80px;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);

}

.images-team {
    margin-left: 110px;
}



.image2 {
    position: relative;
    float: left;
    width: 270px;
    margin: 10px -70px 30px 100px;    
    text-align: center;  
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    

}

.image2 p:nth-child(3) {
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-main-color);
}

.image2 p:nth-child(4) {

font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-secondary-color);
}

footer {
    
position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2158px;
background: var(--main-footer-bg);

}

.webstudio-text2{
   
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--title-highlighted-text-color);
}

footer {
    position: absolute;
    width: 1600px;
    height: 252px;    
}

footer p {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}

address {
    margin: 60px 1154px 60px 215px; 
    line-height: .7em;
    
}


.mailfoot {

    margin-top: 2306px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

}

.phonefoot {
    
    margin-top: 2329px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    
}

.mailfoot:hover,
.phonefoot:hover {
    color: var(--title-highlighted-text-color);
}

.buttons-container {
    position: absolute;
    width: 611px;
    height: 54px;
    left: 495px;
    top: 186px;
    
    
}

.button2{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    color: var(--text-main-color);
    box-shadow: none;
    border: none;
    border-radius: 4px;
    padding: 8px 20px 8px 20px;
    margin: 5px -5px 0px 11px; 
    cursor: pointer;
    
}

.button2:hover {
    background-color: var(--title-highlighted-text-color);
    color: #FFFFFF;
}

.images-container {
    width: 1200px;
    height: 1360px;
    margin: 274px 200px 334px 200px;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
        
}

.image3 {
    margin-top: 30px;;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    cursor: pointer;

}

.image3:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image3 p:nth-child(2) {
    font-weight: 500;
    font-size: 16px;
    margin-left: 24px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
    }
    
    .image3 p:nth-child(3) {
    
    font-size: 16px;
    margin-left: 24px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--text-secondary-color);
    }


